<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.cxg.interactiveweb.dao.CustUserDao">	<resultMap id="BaseResultMap" type="com.cxg.entity.CustUserBean">		<id column="id" property="id" jdbcType="BIGINT" />		<result property="phone" column="phone" jdbcType="VARCHAR"/>		<result property="password" column="password" jdbcType="VARCHAR"/>		<result property="name" column="name" jdbcType="VARCHAR"/>		<result property="email" column="email" jdbcType="VARCHAR"/>		<result property="headPortrait" column="head_portrait" jdbcType="VARCHAR"/>		<result property="createTime" column="create_time" jdbcType="DATE"/>		<result property="isDelete" column="is_delete" jdbcType="CHAR"/>		<result property="remark" column="remark" jdbcType="VARCHAR"/>		<result property="isEmail" column="is_email" jdbcType="CHAR"/>	</resultMap>    
</mapper>